version: 2
updates:

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"

- package-ecosystem: "bundler"
  directory: "/pact_broker"
  schedule:
    interval: "weekly"
  ignore:
  - dependency-name: "*"
    update-types: ["version-update:semver-major"]

- package-ecosystem: "docker"
  directory: "/"
  schedule:
    interval: "weekly"
