version: "3"

services:
  postgres:
    image: postgres
    healthcheck:
      test: psql postgres --command "select 1" -U postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres

  pact-broker:
    image: pactfoundation/pact_broker:localtest
    depends_on:
      - postgres
    environment:
      PACT_BROKER_PORT_ENVIRONMENT_VARIABLE_NAME: CUSTOM_PORT
      CUSTOM_PORT: "9393"
      PACT_BROKER_DATABASE_URL_ENVIRONMENT_VARIABLE_NAME: CUSTOM_DATABASE_URL
      CUSTOM_DATABASE_URL: "postgres://postgres:postgres@postgres/postgres"
      PACT_BROKER_LOG_LEVEL: INFO
    entrypoint: /custom-entrypoint.sh
    volumes:
      - ./script/docker/docker-compose-entrypoint.sh:/custom-entrypoint.sh

  test:
    build:
      context: test
    depends_on:
      - pact-broker
    working_dir: /home
    environment:
      TEST_URL: http://pact-broker:9393
      PACT_BROKER_PORT: "9393"
    entrypoint: dockerize -wait http://pact-broker:9393/diagnostic/status/heartbeat /home/test.sh
