name: Release Docker image

on:
  repository_dispatch:
    types:
      - release-triggered
  workflow_dispatch:
    # None of these are necessary - an automated release will work out what needs to be incremented
    # Can set any of the following:
    # increment (will default to minor if not set)
    # tag
    # increment/version
    inputs:
      increment:
        description: 'Custom increment, defaults to minor if not set'
        required: false
        default: ""
        type: choice
        options:
          - ""
          - patch
          - minor
          - major
          - pre
      # Sets the first part of the Docker tag - this will update the VERSION file
      version:
        description: 'Custom version, requires increment to be set'
        required: false
      tag:
        description: 'Custom Docker image tag (note - this won't update the VERSION file and is for non-prod releases only)'
        required: false
      push_to_latest:
        description: 'Should push to latest'
        type: boolean
        default: true

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: ruby/setup-ruby@v1
      - run: "bundle install"

      - name: Release image
        run: script/release-workflow/run.sh
        env:
          DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
          DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
          TAG: ${{ github.event.inputs.tag }}
          VERSION: ${{ github.event.inputs.version }}
          # populate INCREMENT from workflow_dispatch or repository_dispatch
          INCREMENT: ${{ github.event.client_payload.increment }}${{ github.event.inputs.increment }}
          PUSH_TO_LATEST: ${{ github.event.inputs.push_to_latest }}
