name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  test:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
      - run: "bundle install"
      - run: "bundle exec rake"

      - name: Setup Docker builder
        run: ./script/release-workflow/docker-prepare.sh

      - name: Build Docker image for single platform
        run: ./script/release-workflow/docker-build.sh

      - uses: KengoTODA/actions-setup-docker-compose@v1
        if: ${{ env.ACT }}
        name: Install `docker-compose` for use with https://github.com/nektos/act
        with:
          version: '2.15.1'

      - name: Integration tests
        run: script/test.sh
        env:
          TAG: latest-amd64
